<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram />
    <StartArguments />
    <StartWorkingDirectory>F:\Steam\steamapps\common\dota 2 beta\game\dota_addons\warlock\scripts\vscripts</StartWorkingDirectory>
  </propertyGroup>
</Project>