.LoadingScreenRoot
{
	width: 100%;
	height: 100%;
	overflow: clip;
	flow-children: down;
}

#LoadingScreenBackground
{
	width: 100%;
	height: 100%;
}

#LoadingScreenImage
{
	width: 100%;
	height: 100%;
}

#LoadingScreenTitleWrapper
{
	horizontal-align: center;
	vertical-align: top;
}

#LoadingScreenTitle
{
	font-size: 80px;
}

#LoadingScreenIconContainer
{
	horizontal-align: right;
	vertical-align: bottom;
	margin: 30px;
	flow-children: right;
}

.LoadingScreenIcon
{
	width: 64px;
	height: 64px;
}

.LoadingScreenText
{
	color: #FFF;
	font-size: 24px;
	vertical-align: center;
	font-weight: bold;
}